@model string
<table id="@Model" class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Book#</th>
            <th>Title</th>
            <th>Published</th>
            <th>Pages</th>
            <th>Rate</th>
            <th>Author(s)</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
</table>
