<div id="editDialog">
    <form name="bookEditForm" novalidate>
        <div class="form-group">
            <label for="title">Book title:</label>
            <input type="text" id="title" required/>
        </div>
        <div class="form-group">
            <label for="published">Year of publishing:</label>
            <input type="text" id="published" required/>
        </div>
        <div class="form-group">
            <label for="pages">Amount of pages:</label>
            <input type="number" id="pages" required/>
        </div>
        <div class="form-group">
            <label for="rate">Rate:</label>
            <input type="number" id="rate" />
        </div>

            <button type="submit" class="fa fa-save pull-right">Save</button>
    </form>
</div>